.o_navbar,
.o_navbar * {
    // background-color: $o-white !important;
    border-bottom: $o-white !important;
    color: $o-black !important;
}

.o_navbar .badge,
.o_navbar .badge * {
    border-bottom-color: initial !important;
    color: initial !important;
    // background-color: initial !important;
}

.o_navbar .badge {
    color: $o-white !important;
}
